#board {
    padding: 2em;
    text-align: center;
    font-family: sans-serif;
}

body {
    background-color: rgb(165, 165, 165);
}

h1 {
    color: rgb(17, 0, 114);
    font-size: 5em;
    margin-bottom: 1em;
}

.row > div {
    float: left;
    height: 100px;
    width: 100px;
}

.row > div:hover {
    cursor: pointer;
}

.row {
    clear: both;
    width: 302px;
    margin: auto;
}

.top {
    border-bottom: 1px rgb(139, 125, 46) solid;
}

.center {
    border-left: 1px rgb(139, 125, 46) solid;
    border-right: 1px rgb(139, 125, 46) solid;
}

.bottom {
    border-top: 1px rgb(139, 125, 46) solid;
}